html {
    font-family: Arial, sans-serif;
    color: white;
    position: relative;
    text-align: center;
    width:100%;
    height:100%;
}

body {
    background: url("../Media/Background.jpeg") no-repeat fixed;
    background-position: 50% 0;
    background-size: cover;
    width: 100%;
    height: 100%;
}

div {
    background-color: transparent;
}

nav {
    margin-bottom: 1.3rem;
}


input[type=text] {
    font-size: 25px;
    width: 13rem;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border: none;
    transition: width .35s ease-in-out;
}

input[type=text]:focus {
    width: 19rem;
}

input[type=number] {
    font-size: 25px;
    width: 13rem;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border: none;
    transition: width .35s ease-in-out;
}

button {
    font-size: 2rem;
    background-color: rgba(255,255,255,0.50);
    width: 20rem;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border: none;
}

button:hover {
    background-color: rgba(130,130,130,0.5);
    cursor: pointer;
    transition: 0.3s;
}

button:active {
    transition: 0.2s;
    background-color: rgb(200,200,200);
    transform: translateY(4px);
}

p {
    font-size: 30px;
    margin-bottom: 0px;
}

label {
    font-size: 30px;
}


ul {
    list-style-type: none;
    margin: 0 0 10px 0;
    overflow: hidden;
    /*background-color: rgb(10, 18, 65);*/
    background-color: rgba(255, 255, 255, 0.1);


}
.submenu {
    margin-top: -10px;
    background-color: rgb(20, 111, 105);
}


li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 1.6em 3em;
    text-decoration: none;
}

li a:hover:not(.active) {
    display: block;
    color: white;
    text-align: center;
    padding: 1.6em 3em;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.144);
}

ol {
    list-style-type: none;
}

.active:hover {
    display: block;
    color: white;
    text-align: center;
    padding: 1.6em 3em;
    text-decoration: none;
}

.active {
    background-color: rgba(255, 255, 255, 0.23);

}

.page {
    background-color: rgb(255, 255, 255, 0.8);
}

textarea {
    width: 100%;
    height: 10rem;
    resize: none;
    width: 100%;
    border: 0;
    border-bottom: 1px solid #d2d2d2;
    outline: 0;
    font-size: 16px;
    color: #212121;
    background-color: rgb(255, 255, 255, 0.75);
    transition: border-color 0.2s;
}

textarea:focus {
    padding-bottom: 6px;
    border-bottom: 2px solid #009788;
}

textarea ::-webkit-scrollbar{
    width: 13px;
    height: 13px;
    }
    ::-webkit-scrollbar-thumb{
    background: #C2C2C2;
    border-radius: 10px;
    }
    ::-webkit-scrollbar-thumb:hover{
    background: #B1B2B5;
    }
    ::-webkit-scrollbar-track{
    background: #FFFFFF;
    border-radius: 10px;
    box-shadow: inset 7px 10px 12px 0px #F0F0F0;
    }